{% extends "base.html" %}
{% block container %}
{% include "header.html" %}
<article class="hero-form">
  <div class="form-container">
    <div class="form__title">
      <h1>ClonGram</h1>
    </div>

    <form action="{%url 'posts:create' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-container__input">
	<input  type="hidden" name="user_id" value={{ user.pk }} >
	<input  type="hidden" name="profile_id" value={{ profile.pk }} >
	<label for="title">Title</label>
	<input type="text" name="title" id="title" placeholder="title">
      </div>
	<div class="form-container__input">
	  <label for="image">Image</label>
	  <input type="file" name="image" id="image" placeholder="image">
	</div>
	<button type="submit">Submnit</button>
    </form>
  </div>

</article>

{% endblock %}
