{% extends "base.html" %}
{% block container %}
{% include "header.html" %}
<article class="hero-form">
  <div class="form-container">
    <div class="form__title">
      <h1>ClonGram</h1>
    </div>

    <form action="{% url 'users:update' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="form-container__input">
	<label for="image">Image</label>
	<input type="file" name="image" id="image" placeholder="image" value={{ request.user.profile.image }}>
      </div>

      <button type="submit">Update Profile</button>
    </form>
  </div>

</article>

{% endblock %}
