{% extends "base.html" %}

{% block container %}
{% include "header.html" %}
<main class="hero">

  <article class="user-container">
    <div class="user__header">
      <div class="user__image">
	<img src="{{ user.profile.image.url }}" alt="">
      </div>
      <div class="user__details">
	<h2>{{ user.username }}</h2>
	<a href="{% url 'users:update' %}"><span>Update Profile</span></a>
      </div>
    </div>


    <div class="user__images-gallery">
      {% for post in posts %}
      <div class="image-container"><img src="{{post.image.url}}" alt=""></div>
      {% endfor %}
    </div>

  </article>
</main>

{% endblock %}
